In [11]:
# import sqlite3 library
import sqlite3

In [12]:
# Create company database if it does not exist and connect to it
connection = sqlite3.connect("company.db")

In [13]:
# SQL command to create employee table
sql_command = """
CREATE TABLE employee (
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE,
birth_date DATE);"""

In [14]:
# Cursor to execute SQL command
cursor = connection.cursor()
cursor.execute(sql_command)

In [15]:
# SQL command to insert a record into employee table
sql_command = """
INSERT INTO employee (staff_number, fname, lname, gender, birth_date)
VALUES (NULL, "Frank", "Schiller", "M", "1955-08-17");"""

# Execute the above SQL command using cursor
cursor.execute(sql_command)

In [16]:
# Commit the above changes to company database
connection.commit()

In [19]:
# Print data in employee table
cursor.execute("SELECT * from employee")
print ("EMPLOYEE DATA:")
result = cursor.fetchall()
for r in result:
    print (r)

EMPLOYEE DATA:
(1, 'Frank', 'Schiller', 'M', None, '1955-08-17')

In [20]:
# Close connection
connection.close()